.container {
    display: flex;
    gap: 25px;
   }

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.poster {
    width: 250px;
}

.back {
    margin: 10px 0;
}

.title {
    color: #e7faf2de;
}

.details li{
  margin-bottom: 15px;
  color: #e7faf2de;
  line-height: 150%;
  letter-spacing: 0.04em;
}
h3 {
    margin-left: 20px;
    margin-bottom: 0;
    line-height: 150%;
    letter-spacing: 0.04em;
}
.wrapper {
    background-color: rgb(34, 49, 63, 0.8);
    margin-top: 10px;
    padding: 5px 35px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 20px;
    font-size: 20px;
    border-radius: 8px;
    border-bottom: 1px solid #3d6856de;
    box-shadow: 0 10px 15px #313d38de;
}
